.cardFont{
  background-color: #200033 !important;
  max-width: 90% !important;
  border-radius: 20px;
}

.myButonColor2{
  background-color: #4708D5 !important;
  border-color: #4708D5 !important;
  border-radius: 10px!important;
}
