.col-sm-1 {
  max-width: 6% !important;
}

.lefSticky {
  position: sticky;
  top: 0;
}



.secondMenu{
  color: white;
  margin-left: 20%;
}
.secondMenu:hover{
  color: #EAD83E;
}

.fullSecondMenu{
  margin-bottom: -20%;
}

.mySvg{
  color: white;
  margin-top: 20%;
  margin-left: 10%;
}

.mySvg:hover > svg > g{
  fill: #EAD83E;
}
.mySvg:hover{
  color: #EAD83E;
}
